body{
    font-family:Poppins, sans-serif;
    margin:0;
    font-weight:700;
}

.hero{
    background-color:lightgray;
    align-items: center;
    height:20px;
    display:flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.hero-content h1{
    background-color: #3d1fff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

nav ul{
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
    text-align: center;
}

nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: #3d1fff;
}

nav ul li a:active{
    border-bottom: 2px solid #3d1fff;
    color: #3d1fff;
}

.buy-ticket{
    background-color:#3d1fff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

i {
  color: #5C33FF;     /* purple accent */
  margin-right: 8px;
  font-size: 16px;
}

.container{
    display: flex;
}

.content{

}

img {
    padding: 200px;
}